<%= form_for(@direction) do |f| %>
  <% if @direction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@direction.errors.count, "error") %> prohibited this direction from being saved:</h2>

      <ul>
      <% @direction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :r_id %><br>
    <%= f.text_field :r_id %>
  </div>
  <div class="field">
    <%= f.label :ib_id %><br>
    <%= f.text_field :ib_id %>
  </div>
  <div class="field">
    <%= f.label :ib_desc %><br>
    <%= f.text_field :ib_desc %>
  </div>
  <div class="field">
    <%= f.label :ob_id %><br>
    <%= f.text_field :ob_id %>
  </div>
  <div class="field">
    <%= f.label :ob_desc %><br>
    <%= f.text_field :ob_desc %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
