<h1>Listing directions</h1>

<table>
  <thead>
    <tr>
      <th>D</th>
      <th>String</th>
      <th>D desc</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @directions.each do |direction| %>
      <tr>
        <td><%= direction.d_id %></td>
        <td><%= direction.string %></td>
        <td><%= direction.d_desc %></td>
        <td><%= link_to 'Show', direction %></td>
        <td><%= link_to 'Edit', edit_direction_path(direction) %></td>
        <td><%= link_to 'Destroy', direction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Direction', new_direction_path %>
