<h1>Listing directions</h1>

<table>
  <thead>
    <tr>
      <th>Route ID | </th>
      <th>Inbound ID | </th>
      <th>Inbound description | </th>
      <th>Outbound ID | </th>
      <th>Outbound description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @directions.each do |direction| %>
      <tr>
        <td><%= direction.r_id %></td>
        <td><%= direction.ib_id %></td>
        <td><%= direction.ib_desc %></td>
        <td><%= direction.ob_id %></td>
        <td><%= direction.ob_desc %></td>
        <td><%= link_to 'Show', direction %></td>
        <td><%= link_to 'Edit', edit_direction_path(direction) %></td>
        <td><%= link_to 'Destroy', direction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Direction', new_direction_path %>
