<p id="notice"><%= notice %></p>

<p>
  <strong>S:</strong>
  <%= @stop.s_id %>
</p>

<p>
  <strong>S desc:</strong>
  <%= @stop.s_desc %>
</p>

<%= link_to 'Edit', edit_stop_path(@stop) %> |
<%= link_to 'Back', stops_path %>
