<p id="notice"><%= notice %></p>

<p>
  <strong>R:</strong>
  <%= @route.r_id %>
</p>

<p>
  <strong>R desc:</strong>
  <%= @route.r_desc %>
</p>

<%= link_to 'Edit', edit_route_path(@route) %> |
<%= link_to 'Back', routes_path %>
