<p id="notice"><%= notice %></p>

<p>
  <strong>Route:</strong>
  <%= @line_item.route_id %>
</p>

<p>
  <strong>Direction:</strong>
  <%= @line_item.direction_id %>
</p>

<p>
  <strong>Stop:</strong>
  <%= @line_item.stop_id %>
</p>

<%= link_to 'Edit', edit_line_item_path(@line_item) %> |
<%= link_to 'Back', line_items_path %>
